.navBar {
	background-color: #1877F2;
	padding: 10px;
	top:0;
	position: sticky;
	Z-index: 1;
}


.navBar__link {
	text-decoration: none;
	color: #FFFFFF;	
	font-weight: bold;
}

.navBar__link:hover {
	text-decoration: none;
	color: #FFFFFF;	
	
}

.navBar__siteName {
	font-size: 20px;
	
}